[submodule "Carthage/Checkouts/AFNetworking"]
	path = ParticleDeviceSetupLibrary/Carthage/Checkouts/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Carthage/Checkouts/spark-sdk-ios"]
	path = ParticleDeviceSetupLibrary/Carthage/Checkouts/spark-sdk-ios
	url = https://github.com/spark/spark-sdk-ios.git
