[submodule "Carthage/Checkouts/AFNetworking"]
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Carthage/Checkouts/spark-sdk-ios"]
	url = https://github.com/particle-iot/spark-sdk-ios.git
